header {
  text-align: center;
  background-size: cover;
  padding: 50px;
  background-repeat: no-repeat;
  background-image: url("images/immigration.jpg");
}

ul {
  padding: 10px;
  background-color: black;
}

a {
  color: white;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

h1 {
    text-align: center;
    font-family: helvetica;
    color: blue;
  }

body {
  background: white;
  color: black;
  font-family: helvetica;
}

input {
  border: 0;
  padding: 10px;
  font-family: helvetica;
}

input[type="submit"] {
      background: blue;
      color: white;
      font-family: helvetica;
    }

div {
    height: 60px;
    width: 100px;
    border-radius: 5px;
    background-color: blue;
    text-align: center;
    color: black;
    font-family: helvetica;
    opacity: 1;
    padding-top: 10px;
}
