header {
  text-align: center;
  background-size: cover;
  padding: 300px;
  background-repeat: no-repeat;
  background-image: url("images/smallboy.jpg");
}

ul {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Consolas";
}

img {
  width: 550px;
  display: block;
  margin: auto;
}

a {
  color: black;
}

.header {
  color: white;
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

.list {
  display: list-item;
  font-size: 110%;
}

h1 {
    text-align: center;
    font-family: "Consolas";
    font-size: 50px;
    color: black;
  }

  h2 {
    font-family: "Calibri";
    text-align: center;
    color: black;
  }

  h3 {
    font-family: "Consolas";
  }

  p {
    font-family: "Calibri";
    text-align: justify;
    color: black;
  }

article {
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
}

body {
  background: lightgrey;
  color: black;
  font-family: "Calibri";
}

input {
  border: 0;
  padding: 10px;
  font-family: helvetica;
}

input[type="submit"] {
      background: blue;
      color: white;
      font-family: helvetica;
    }

div {
    height: 55px;
    width: 100px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: "Calibri";
    font-size: 20px;
    opacity: 1;
    padding: 10px 24px;
}

@media (max-width: 500px) {
      h1 {
        font-size: 36px;
      }
      li {
        display: block;
        padding: 5px;
      }
    }
